@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}

* {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brand-500;
}

@media print {
  body {
    background: white;
  }
  .print\\:border-none {
    border: none !important;
  }
}
